<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RapidResuce</title>
    <!-- Fonts and icons -->
    <script src="https://kit.fontawesome.com/1b91fe7d3f.js" crossorigin="anonymous"></script>
    <!-- Fonts and icons -->
    <script src="~/admin/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                urls: ["/admin/css/fonts.min.css"],
            },
            active: function () {
                sessionStorage.fonts = true;
            },
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/admin/css/plugins.min.css" />
    <link rel="stylesheet" href="~/admin/css/kaiadmin.min.css" />

    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/22.2.6/css/dx.light.css">
</head>
<body>
    <div id="loader">
        <div class="spinner"></div>
    </div>
    <div class="wrapper">
        <div class="main-panel">

            <div class="main-header">
                <div class="main-header-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="" class="logo">
                            <img src="~/user/img/logos/amblogo.png" alt="LOGO" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <!-- Sidebar -->
                <div class="sidebar" data-background-color="dark">
                    <div class="sidebar-logo">
                        <!-- Logo Header -->
                        <div class="logo-header" data-background-color="dark">
                            <a href="" class="logo text-white fw-bold">
                                <img class="img-fluid d-block" src="~/user/img/logos/amblogo.png" alt="LOGO" style="width: 80%" />
                            </a>
                            <div class="nav-toggle">
                                <button class="btn btn-toggle toggle-sidebar">
                                    <i class="gg-menu-right"></i>
                                </button>
                                <button class="btn btn-toggle sidenav-toggler">
                                    <i class="gg-menu-left"></i>
                                </button>
                            </div>
                            <button class="topbar-toggler more">
                                <i class="gg-more-vertical-alt"></i>
                            </button>
                        </div>
                        <!-- End Logo Header -->
                    </div>
                    <div class="sidebar-wrapper scrollbar scrollbar-inner">
                        <div class="sidebar-content">
                            <ul class="nav nav-secondary">
                                <li id="dashboard-tab" class="nav-item ">
                                    <a href="/Admin/Index">
                                        <i class="fas fa-home"></i>
                                        <p>Dashboard</p>
                                    </a>
                                </li>
                                @*                                 <li class="nav-item active">
                                <a data-bs-toggle="collapse" href="#loanDetailMenu" aria-expanded="true">
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                                <span class="caret"></span>
                                </a>

                                <div class="collapse show" id="loanDetailMenu" style="background-color :rgba(0, 0, 0, .16)">
                                <ul class="nav nav-collapse mx-3">
                                <li>
                                <a href="#buildContractSchedule">
                                <i class="fas fa-money-check-alt"></i>
                                <span>Analytics</span>
                                </a>
                                </li>
                                <li>
                                <a href="#constructionDrawSchedule">
                                <i class="fas fa-file-invoice-dollar"></i>
                                <span>Dashboard</span>
                                </a>
                                </li>
                                </ul>
                                </div>
                                </li> *@
                                @if (Session.Role == RapidResuce.Enums.UserRole.Admin)
                                {
                                    <li id="user-tab" class="nav-item">
                                        <a href="/Users">
                                            <i class="fas fa-user-group"></i>
                                            <p>Users</p>
                                        </a>
                                    </li>
                                    <li id="ambulance-tab" class="nav-item ">
                                        <a href="/Ambulances">
                                            <i class="fas fa-user-alt"></i>
                                            <p>Ambulances</p>
                                        </a>
                                    </li>
                                    <li id="emergencyRequests-tab" class="nav-item ">
                                        <a href="/EmergencyRequests/List">
                                            <i class="fas fa-user-alt"></i>
                                            <p>Emergency Requests</p>
                                        </a>
                                    </li>
                                    <li id="emergencyRequests-tab" class="nav-item ">
                                        <a href="/FirstAids">
                                            <i class="fas fa-user-alt"></i>
                                            <p>First-Aid Precautions</p>
                                        </a>
                                    </li>
                                }
                                @if (Session.Role == RapidResuce.Enums.UserRole.EMT || Session.Role == RapidResuce.Enums.UserRole.Driver)
                                {
                                    <li id="emergencyRequests-tab" class="nav-item ">
                                        <a href="/EmergencyRequests/AssignedList">
                                            <i class="fas fa-user-alt"></i>
                                            <p>Assigned Requests</p>
                                        </a>
                                    </li>
                                }
                                @*                                 <li class="nav-item ">
                                <button id="sendUpdate">Send Location Update</button>
                                </li> *@
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Sidebar -->
                <!-- Navbar Header -->
                <nav class="navbar shadow navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                    <div class="container-fluid">
                        <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                            <li class="nav-item topbar-icon dropdown hidden-caret">
                                <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bell"></i>
                                    <span class="notification" id="notificationCount">0</span>
                                </a>
                                <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                                    <li>
                                        <div class="dropdown-title d-flex justify-content-between align-items-center">
                                            Notifications
                                            <a onclick="notification.markAllAsRead()" class="small">Mark all as read</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="scroll-wrapper notif-scroll scrollbar-outer" style="position: relative;">
                                            <div id="signalRNotifications" class="notif-scroll scrollbar-outer scroll-content" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 0px;">
                                                @*                                                 <div class="notif-center">
                                                <a href="#">
                                                <div class="notif-icon notif-success">
                                                <i class="fa fa-comment"></i>
                                                </div>
                                                <div class="notif-content">
                                                <span class="block">
                                                Rahmad commented on Admin
                                                </span>
                                                <span class="time">12 minutes ago</span>
                                                </div>
                                                </a>
                                                </div> *@
                                            </div>
                                            <div class="scroll-element scroll-x">
                                                <div class="scroll-element_outer">
                                                    <div class="scroll-element_size"></div>
                                                    <div class="scroll-element_track"></div>
                                                    <div class="scroll-bar"></div>
                                                </div>
                                            </div>
                                            <div class="scroll-element scroll-y">
                                                <div class="scroll-element_outer">
                                                    <div class="scroll-element_size"></div>
                                                    <div class="scroll-element_track"></div>
                                                    <div class="scroll-bar"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item topbar-user dropdown hidden-caret">
                                <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#" aria-expanded="false">
                                    <div class="avatar-sm">
                                        <img src="~/@Session.Image" alt="..." class="avatar-img rounded-circle" />
                                    </div>
                                    <span class="profile-username">
                                        <span class="op-7">Hi,</span>
                                        <span class="fw-bold " id="User">@Session.Name</span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-user animated fadeIn">
                                    <div class="dropdown-user-scroll scrollbar-outer">
                                    <li>
                                        <div class="user-box">
                                            <div class="avatar-lg">
                                                <img src="~/@Session.Image" alt="image profile" class="avatar-img rounded" />
                                            </div>
                                            <div class="u-text">
                                                <h4>@Session.Name</h4>
                                                <p class="text-muted">@Session.Email</p>
                                                    @* <a href="profile.html" class="btn btn-xs btn-secondary btn-sm">View Profile</a> *@
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Admin" asp-action="AdminProfile">My Profile</a>
                                            @* <div class="dropdown-divider"></div> *@
                                            @* <a class="dropdown-item" href="#">Setting</a> *@
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/Login/Logout">Logout</a>
                                    </li>
                    </div>
                    </ul>
                    </li>
                    </ul>
            </div>
            </nav>
            <!-- End Navbar -->
        </div>

        <div class="container">
            <div class="page-inner">
                    @RenderBody()
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
                <nav class="pull-left text-muted fw-bold">
                        @* @Config.Version *@
                </nav>
            </div>
        </footer>


    </div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVl3rDv239K8Xjpr5Sr9Jf7NuK1W07pA8=&callback=initMap"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.0/signalr.min.js"></script>
    <script src="~/js/signalR.js" asp-append-version="true"></script>
    <!--   Core JS Files   -->
    <script src="~/admin/js/core/jquery-3.7.1.min.js"></script>
    <script src="~/admin/js/core/popper.min.js"></script>
    <script src="~/admin/js/core/bootstrap.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="~/admin/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Chart JS -->
    <script src="~/admin/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="~/admin/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="~/admin/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="~/admin/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="~/admin/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="~/admin/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="~/admin/js/plugin/jsvectormap/world.js"></script>

    <!-- Sweet Alert -->
    <script src="~/admin/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Kaiadmin JS -->
    <script src="~/admin/js/kaiadmin.min.js"></script>

    <!-- Dev Extreme -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/22.2.6/js/dx.all.js"></script>


        @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>

        // document.getElementById("sendUpdate").addEventListener("click", function () {
        // });

        $(function () {
            // Simulate sending a location update
            // connection.invoke("SendLocationUpdate", "Ambulance1", 34.0522, -118.2437).catch(function (err) {
            //     return console.error(err.toString());
            // });
            var userIdForNotify = @Session.UserId;
            var userRoleForNotify = `@Session.Role`;

            const notificationConnection = new signalR.HubConnectionBuilder()
                .withUrl("/notificationHub")
                .build();

            notificationConnection.on("ReceiveNotification", function (userId, role, message) {
                if (role === "Admin" && role == userRoleForNotify) {
                    Notify('success', message);

                    // Get the current count
                    var count = parseInt($('#notificationCount').text());
                    count++;
                    $('#notificationCount').text(count);

                    //Notify('success', message);
                    var newNotification = `
                                    <div class="notif-center">
                                        <a href="#">
                                            <div class="notif-icon notif-success">
                                                <i class="fa fa-comment"></i>
                                            </div>
                                            <div class="notif-content">
                                                <span class="block">
                                                    ${message}
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                `;

                    // Append the new notification to the container
                    $('#signalRNotifications').append(newNotification);
                }
                else if (userId === userIdForNotify && role != "Admin") {
                    Notify('success', message);

                    // Get the current count
                    var count = parseInt($('#notificationCount').text());
                    count++;
                    $('#notificationCount').text(count);

                    var newNotification = `
                                            <div class="notif-center">
                                                <a href="#">
                                                    <div class="notif-icon notif-success">
                                                        <i class="fa fa-comment"></i>
                                                    </div>
                                                    <div class="notif-content">
                                                        <span class="block">
                                                            ${message}
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        `;

                    // Append the new notification to the container
                    $('#signalRNotifications').append(newNotification);
                }
            });

            notificationConnection.start().catch(function (err) {
                return console.error(err.toString());
            });

            if (window.location.href.includes('Admin')) {
                $('#dashboard-tab').addClass('active');
            } else {
                $('#dashboard-tab').removeClass('active');
            }

            if (window.location.href.includes('User')) {
                $('#user-tab').addClass('active');
            } else {
                $('#user-tab').removeClass('active');
            }

            if (window.location.href.includes('Ambulance')) {
                $('#ambulance-tab').addClass('active');
            } else {
                $('#ambulance-tab').removeClass('active');
            }
        });

    </script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
